@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* background-color: #ffeff8; */
}

body {
  min-height: 100dvh;
  max-width: 480px;
  margin: 0 auto;
  padding: 24px;
}
