@import 'tailwindcss';

@theme {
  --color-coral-main: #f79489;
  --color-coral-hover: #fadcd9;
  --color-coral-bg: #f9f1f0;
  --color-grey-700: #4d4d4d;
  --color-grey-500: #7a7a7a;
  --color-grey-200: #ebebeb;

  --text-12: 0.75rem;
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-20: 1.25rem;
  --text-24: 1.5rem;
}

:root {
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  /* background-color: #ffeff8; */
  box-sizing: content-box;
}

body {
  position: relative;
  min-height: 100dvh;
  max-width: 480px;
  margin: 0 auto;
  padding: 24px;
  padding-bottom: 44px;

  font-size: 14px;
}

h1 {
  font-size: 16px;
  font-weight: 700;
}

button {
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

.btn_primary {
  width: 100%;
  background-color: #f79489;
  padding: 16px 0;
  border-radius: 4px;

  font-size: 14px;
  font-weight: 700;
  color: white;

  &:disabled {
    background-color: #ebebeb;
    color: white;
  }
}
